body {

    margin: 0px;
    background-color: #f8f8f8;
}

body.dark-mode {
    background-color: #000;
    color: #fff;
}

h1 {
    font-family: Segoe UI;
    text-align: center;
    line-height: 42px;
    padding-bottom: 23px;
    margin: 10px 0px;
    border-bottom: 1px solid #000000;
}

.dark-mode h1 {
    border-bottom: 1px solid #fff;
}

#hash-symbol {
    color: #000000;
    font-size: 42px;
    position: relative;
    top: 4px;
}

.dark-mode #hash-symbol {
    color: #fff;
}

#app-name {
    color: #ff5e00;
}

.dark-mode #app-name {
    color: #953ce9;
}

section {
    position: relative;
    width: 150px;
    margin: 250px auto;
    padding: 50px;
    background-color: #000000;
    box-shadow: 0px 5px 35px #f1f1f1;
    border-radius: 35px;
}

.dark-mode section {
    background-color: white;
}

.toggle-btn {
    position: relative;
    width: 150px;
    height: 74px;
    margin: 0 auto;
    border-radius: 40px;
    z-index: 1;
}

#message-box {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    font-size: 18px;
    color: #fff;
    background-color: #000;
    border-radius: 10px;
    opacity: 1;
    transition: opacity 0.3s ease-out;
}


.dark-mode #message-box {
    opacity: 0;
}

input[type="checkbox"] {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#current-time {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    z-index: 2;
}

@media screen and (max-width: 530px) {
    #current-time {
        top: 80px;
    }
}

/* First toggle btn */

#_1st-toggle-btn span {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    opacity: 1;
    background-color: #fff;
    box-shadow: 0px 2px 25px #ff6600;
    border-radius: 40px;
    transition: 0.2s ease background-color, 0.2s ease opacity;
}

.dark-mode #_1st-toggle-btn span {
    box-shadow: 0px 2px 25px #6803c7;
}

#_1st-toggle-btn span:before,
#_1st-toggle-btn span:after {
    content: "";
    position: absolute;
    top: 8px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: 0.5s ease transform, 0.2s ease background-color;
}

#_1st-toggle-btn span:before {
    background-color: #fff;
    transform: translate(-58px, 0px);
    z-index: 1;
}

#_1st-toggle-btn span:after {
    background-color: #f34814;
    transform: translate(8px, 0px);
    z-index: 0;
}

#_1st-toggle-btn input[type="checkbox"]:checked+span {
    background-color: #000000;
}

#_1st-toggle-btn input[type="checkbox"]:active+span {
    opacity: 0.5;
}

#_1st-toggle-btn input[type="checkbox"]:checked+span:before {
    background-color: #000000;
    transform: translate(56px, -19px);
}

#_1st-toggle-btn input[type="checkbox"]:checked+span:after {
    background-color: #fff;
    transform: translate(79px, 0px);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark-mode .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

}

.icons {
    margin-top: -200px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding: 15px;
    border-radius: 5px;
    width: 9rem;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
    background-color: #ff5e00;
}

.dark-mode .icons {
    background-color: #953ce9;
}

.icons a i {
    color: white;
}

.fas {
    transition: transform 0.2s ease-in-out;
}

.fas:hover {
    transform: scale(1.5);
}

.fab {
    transition: transform 0.2s ease-in-out;
}

.fab:hover {
    transform: scale(1.5);
}

.img {
    z-index: 2;
    position: absolute;
    width: 90px;
    height: 110px;
    transform: scaleX(1);
    bottom: -9px;
    left: 0;
    margin-left: 43.5px;
}

.dark-mode section .img {
    display: none;
}

section .img {
    display: block;
    animation: swipe-up 1.8s ease-out;
}

@keyframes swipe-up {
    from {
        transform: translateY(20%);
        opacity: 1;
    }

    to {
        transform: translateY(0);
        opacity: 2;
    }
}